/*The styles in this section covers the styling for 'general' or overall elements such as html,body, p, h1, img, span, etc. This is just trying something new to give a customized feel to every part of the project.*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

:root {
  --pry-color: #202020;
  --sec-color: #fad9bb;
  --grey: #a6a6a6;
  --bg-hero: #ff8800;
  --bg-white: #fffffc;
}



html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'staatliches' cursive;
}

h1,
h2,
h3 {
  font-family: 'lato', sans-serif;
  font-weight: 800;
  color: var(--pry-color);
  margin: 1.6rem 0;
}

p {
  font-weight: 400;
  margin: 1.6rem 0;
  font-size: 1.6rem;
  color: var(--pry-color);
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
}

@media only screen and (max-width :768px) {
  h1 {
    font-size: 3rem;
  }
}



h2 {
  font-size: 3rem;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 1.6rem;
}

span {
  color: var(--bg-hero);
  font-size: 1.5rem;
  font-weight: 500;
}



a {
  text-decoration: none;
  margin: 1.6rem 0;
  color: var(--grey);
  font-size: 1.5rem;
  /*border-bottom: 2px dotted var(--pry-color);*/
}

a:hover {
  cursor: pointer;
}

.site-container {
  width: 80%;
  margin: auto;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  margin: 16px 0;
}


.btn,
.btn:hover {
  background: var(--bg-hero);
  cursor: pointer;
}

/*This section begins the styling of the main project*/

/*This is the styling of the navigation bar area*/


nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav .logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px;
}

nav .logo img {
  width: 8rem;
  padding: 10px;

}

nav .menu a {
  border-bottom: none;
  color: var(--pry-color);
  font-weight: 700;
  margin-left: 24px;
}



.mobile-menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav .logo {
    display: block;
    width: fit-content;
    height: max-content;
  }

  nav .logo img {
    width: auto;
  }

  nav .logo h1 {
    font-size: 2.5rem;
  }

  .mobile-menu {
    display: block;
    font-size: 24px;
  }

  .menu {
    position: absolute;
    background-color: var(--sec-color);
    width: 100%;
    top: 100%;
    z-index: 99;
    display: none;
  }

  .menu a {
    padding: 32px 0;
    font-size: 18px;
    display: block;
  }

  .show {
    display: block;
  }

}




/*Hero section*/

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.hero .left {
  background-image: url(istockphoto-1094435394-612x612.jpg);
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .right {
  background-color: var(--bg-hero);
}

.hero .content-box {
  position: absolute;
  background-color: var(--bg-white);
  padding: 35px;
  width: 35%;
  top: 50%;
  left: 65%;
  transform: translate(-40%, -50%);

}


@media only screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero .content-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: var(--bg-white);
  }
}


/*styling for main Blog  section*/

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 50px;
  gap: 50px;
}

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

}

.blog .thumbnail {
  object-fit: contain;
}

.blog-post {
  background-color: var(--sec-color);
  margin: 24px 0;
  padding: 16px;
}

.blog-content {
  margin-top: 24px;
}

.pagination {
  display: inline-block;
}

.pagination .active {
  border: 1px solid var(--sec-color);
  background-color: var(--bg-white);
}


.pagination a {
  color: var(--bg-hero);
  float: left;
  padding: 7px 14px;
  text-decoration: none;
  border: 0;
}


@media only screen and (max-width:768px) {
  .blog {
    grid-template-columns: 1fr;

  }
}



/*styling for main aside */

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.wrapper .thumb {
  flex: 2;
  margin-top: 20px;
}


.wrapper .content {
  flex: 2;
  padding: 16px;

}

.wrapper,
p,
span,
a {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width:768px) {
  .site-container {
    width: 100%;
    padding: 0 24px;
  }

  main {
    grid-template-columns: 1fr;
  }

  .wrapper {
    margin: 24px 0;
  }
}


/*styling for footer*/

.btn-pry {
  display: inline-block;
  border: none;
  background: var(--bg-hero);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

footer {
  background-color: var(--sec-color);
  margin-top: 40px;
  padding: 80px 0;
}

footer,
h3 {
  color: #202020;
}


.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  column-gap: 40px;
  justify-items: center;
}

footer hr {
  margin: 60px 0;

}

.footer-top input[type='email'] {

  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.footer-top input[type='submit'] {
  width: 90%;
  padding: 1rem;

}


.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.footer-menu li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 2rem;
}


.socials i {
  color: var(--bg-hero);
  border: 1px solid var(--grey);
  border-radius: 50%;
  padding: 8px;
  font-size: 16px;
}


@media only screen and (max-width:768px) {

  .footer-top {
    grid-template-columns: 1fr;
    justify-items: start;
  }

  .footer-bottom {
    display: inline-block;
  }

  .socials {
    margin-top: 10px;
  }

  /* .footer-menu p {
    display: block;
    margin: auto;
  }*/
}